
.bitcount-grid-double-<uniquifier> {
  font-family: "Bitcount Grid Double", system-ui;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "CRSV" 0.5,
    "ELSH" 0,
    "ELXP" 0;
}

:root {
  --primary-color: #f4f1dd; /* naranja */
  --secondary-color: #2a698b; /* celeste */
  --accent1-color: #4c4339; /* sand */
  --accent2-color: #0b1135; /* blue black */
  --heading-font: "Bitcount Grid Double", system-ui;
  --body-font: "Roboto", sans-serif;
}

body {
  font-family: var(--body-font);
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: var(--primary-color);
  color: var(--accent2-color);
}

h1, h2, h3 {
  font-family: var(--heading-font);
  color: var(--secondary-color);
}

a {
  color: var(--accent1-color);
  text-decoration: none;
}   


a:hover {
  text-decoration: underline;
}

header {
  background-color: var(--secondary-color);
  color: white;
  padding: 1rem;
  text-align: center;
  
}

nav ul {
  display: flex;
  justify-content: center;
  padding: 0;
}
nav ul li {
  list-style: none;
  margin: 0 15px;
}
nav ul li a {
  color: white;
  font-weight: bold;
}
nav ul li a:hover {
  text-decoration: underline;
}   

main {
  padding: 1rem;
}
footer {
  background-color: var(--accent2-color);
  color: white;
  text-align: center;
  padding: 1rem;
  position: fixed;
  bottom: 0;
  width: 100%;
}
head.title {
  font-size: 1.5rem;
  margin: 0;
  text-align: center;
}